---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <div>
      <img class="bread" src="/images/bread-spin.gif" alt="Bread spin" />
    </div>
  </div>
  <a href="/about-me"><button class="enter-button">ENTER</button></a>
</Layout>

<style>
  img.bread {
    display: block;
    margin-left: -20%;
    object-fit: cover;
  }
  button.enter-button {
    scale: 3;
    display: block;
    margin: 0 auto;
  }
</style>
