---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to my website!">
  <div class="container">
    <div>
      <img class="bread" src="/my-website/images/bread-spin.gif" alt="Bread spin" loading="lazy"/>
    </div>
  </div>
  <a href="/my-website/about"><button class="enter-button">ENTER</button></a>
</Layout>

<style>
  img.bread {
    display: block;
    margin-left: -20%;
    object-fit: cover;
  }
  button.enter-button {
    scale: 3;
    display: block;
    margin: 0 auto;
    /* margin-bottom: -5%; */
    
  }
</style>
