---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Projects">
    <h1 class="page-title">Projects</h1>
    <div class="container">
        <div>
            <img src="/my-website/images/nano.png" alt="nano" class="project-image"/>
        </div>
        <div class="project-desc-wrapper">
            <h1 class="project-desc"> I built a flashlight using an arduino nano as the main "brain" of the project. Pictures coming soon!</h1>
        </div>
    </div>
</Layout>